@import "variables";

.game-selector {
  display: none;
}

.match {
  display: grid;
  grid-template-columns: [teamA] 3fr [rolesB] 4fr [teamB] 3fr;
  grid-template-rows: repeat(5, $grid-height);
  grid-auto-flow: column;
  grid-row-gap: 15px;

  .teamA {
    grid-column: teamA;
  }
  .rolesB {
    grid-column: rolesB;
  }

  .teamB {
    grid-column: teamB;
    cursor: ns-resize;
    position: relative;
    border-right: 12px solid transparent;

    &:after {
      content: " ";
      position: absolute;
      top: 100%;
      right: 0;
      height: 15px;
      width: 449px;
      background-image: url("/assets/images/separator.png");
    }
    &:last-child:after{
      content: none;
    }

  }
  .ghost {
    border: 1px dashed;
  }

  .drag-over {
    border-right: 12px solid $color-gold;
  }
  .idiot {
    border-right: 12px solid $color-team-red;
  }
  .correct {
    border-right: 12px solid $color-success;
  }
}

.submit {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: auto;
  cursor: pointer;

  img {
    float: right;
    margin: 1rem 3rem;
  }
}

@media (max-width: 1280px) {
  .match {
    grid-template-columns: [rolesB] 1fr [teamB] 3fr;

    .teamA {
      display: none;
    }
  }
  .submit img {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
