@import "variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-selector {
  display: none;
}

.match {
  display: grid;
  grid-template-columns: [teamA] 1fr [rolesB] 1fr [teamB] 1fr;
  grid-template-rows: repeat(5, $grid-height);
  grid-auto-flow: column;
  grid-row-gap: 15px;

  .teamA {
    grid-column: teamA;
  }

  .rolesB {
    grid-column: rolesB;
  }

  .teamB {
    grid-column: teamB;
    cursor: ns-resize;
    position: relative;
    border-right: 12px solid transparent;

    &:after {
      content: " ";
      position: absolute;
      top: 100%;
      right: 0;
      height: 15px;
      width: 449px;
      background-image: url("/assets/images/separator.png");
    }
    &:last-child:after{
      content: none;
    }
  }

  .spinner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 5rem;
    margin-left: -27px;
    width: 54px;
    height: 54px;

    animation: rotate 4s linear infinite;
  }

  .ghost {
    border: 1px dashed;
  }

  .drag-over {
    border-right: 12px solid $color-gold;
  }
  .idiot {
    border-right: 12px solid $color-team-red;
  }
  .correct {
    border-right: 12px solid $color-success;
  }
}

.loadingError {
  margin: 1rem;
  color: $color-team-red;

  div {
    text-align: center;
  }

  img {
    display: block;
    width: 80px;
    margin: 0 auto;
    padding: 1rem;
    cursor: pointer;
  }
}

.submit {
  cursor: pointer;
  margin: 0 auto 1rem auto;

  #accept {
    content: url("/assets/images/accept.png");

    &:hover {
      content: url("/assets/images/accept-hover.png");
    }
  }

  #play-again {
    content: url("/assets/images/play-again.png");

    &:hover {
      content: url("/assets/images/play-again-hover.png");
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .match {
    height: 90%;
    grid-template-columns: [rolesB] 1fr [teamB] 3fr;
    grid-template-rows: repeat(5, 17%);
    grid-row-gap: 3%;

    .teamA {
      display: none;
    }
  }
  .submit {
    height: 10%;
    margin: 0;

    img {
      display: block;
      max-height: 90%;
      margin: 0 auto;
      padding-bottom: 10%;
    }
  }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
