@import "variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-selector {
  display: none;
}

.match {
  display: grid;
  grid-template-columns: [teamA] 3fr [rolesB] 4fr [teamB] 3fr;
  grid-template-rows: repeat(5, $grid-height);
  grid-auto-flow: column;
  grid-row-gap: 15px;

  .teamA {
    grid-column: teamA;
  }
  .rolesB {
    grid-column: rolesB;
  }

  .teamB {
    grid-column: teamB;
    cursor: ns-resize;
    position: relative;
    border-right: 12px solid transparent;

    &:after {
      content: " ";
      position: absolute;
      top: 100%;
      right: 0;
      height: 15px;
      width: 449px;
      background-image: url("/assets/images/separator.png");
    }
    &:last-child:after{
      content: none;
    }
  }

  .spinner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 5rem;
    width: 54px;
    height: 54px;

    animation: rotate 4s linear infinite;
  }

  .ghost {
    border: 1px dashed;
  }

  .drag-over {
    border-right: 12px solid $color-gold;
  }
  .idiot {
    border-right: 12px solid $color-team-red;
  }
  .correct {
    border-right: 12px solid $color-success;
  }
}

.submit {
  cursor: pointer;
  margin: 0 auto 1rem auto;

  &#accept {
    content: url("/assets/images/accept.png");
    &:hover {
      content: url("/assets/images/accept-hover.png");
    }
  }

  &#play-again {
    content: url("/assets/images/play-again.png");
    &:hover {
      content: url("/assets/images/play-again-hover.png");
    }
  }
}

@media (max-width: 1280px) {
  .match {
    grid-template-columns: [rolesB] 1fr [teamB] 3fr;

    .teamA {
      display: none;
    }
  }
  .submit img {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
