@import "variables";

:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $color-dirty-white;

  .name {
    font-size: 1.5rem;
  }

  .crop {
    height: $grid-height * .6;
    width: $grid-height * .6;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid $color-team-red;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.75), inset 2px 1px 3px 0 rgba(0, 0, 0, 0.75);
    margin: 0 1rem 0 1rem;

    img {
      height: $grid-height * 0.8;
      margin-top: -$grid-height * .1;
      margin-left: -$grid-height * .1;
    }
  }

  &.teamA {
    flex-direction: row-reverse;
    .crop {
      border-color: $color-team-blue;
    }
  }

  .manual-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 5px;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50%;
    }

    .up img {
      transform: rotate(180deg);
    }
  }


  &:last-child .manual-buttons .down {
    display: none;
  }

}

@media (min-width: 1281px) {
  :host .manual-buttons {
    display: none;
  }
}
