@import "variables";

:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $color-dirty-white;

  .name {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .crop {
    height: $grid-height * .6;
    width: $grid-height * .6;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #8b120c;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.75), inset 2px 1px 3px 0 rgba(0, 0, 0, 0.75);
    margin-right: 1rem;

    img {
      height: $grid-height * 0.8;
      margin-top: -$grid-height * .1;
      margin-left: -$grid-height * .1;
    }
  }
}
