@font-face {
  font-family: "BeaufortLoL";
  src: url("/assets/fonts/Beaufort-Bold.ttf") format("truetype");
}

:root {
  font-family: "BeaufortLoL", "Times New Roman", serif;
  color: #c9aa71;
  background-color: #04080f;
}
