$grid-height: 100px;
$mobile-breakpoint: 767px;

$color-gold: #a17c30;
$color-dirty-white: #f0e6d2;

$color-success: #07823a;

$color-team-blue: #0595a9;
$color-team-red: #8b120c;
$color-team-red-alternative: #be1e37;
